// fonts
@font-face {
  font-family: "IcoMoon";
  src: url('/fonts/IcoMoon-Free.ttf') format('truetype');
}

body {
  // struct
  margin: 0;
  padding: 0;
  // style
  background: $background_color;
  background: url('/imgs/footer_lodyas_invert.png');
  font-family: 'Roboto', sans-serif;
  color: #434343;
}

input {
  font-family: 'Roboto', sans-serif;
  color: #434343;
}
