<aside class="side-bar">
  Side bar
</aside>
<main id="chat-main-view">
  <div id="chat-messages">



    <div class="chat-message">
      <div class="chat-message-avatar">
        <img src="" alt="" />
      </div>
      <div class="chat-message-content">
        <div class="chat-message-info">
          <div class="username">Username</div>
          <div class="timestamp">4:14</div>
        </div>
        <div class="chat-message-text">
          This is some message that will appear.
          This is some very long text paragraph thing!
        </div>
        <div class="chat-message-media">
          <img src="http://38.media.tumblr.com/f0bda0f886f25fe46db495c7620e2adf/tumblr_nn53ya70CN1suu3yio1_500.gif" alt="" />
        </div>
      </div>
    </div>

    <div class="chat-message">
      <div class="chat-message-avatar">
        <img src="" alt="" />
      </div>
      <div class="chat-message-content">
        <div class="chat-message-info">
          <div class="username">Username</div>
          <div class="timestamp">4:14</div>
        </div>
        <div class="chat-message-text">
          This is some message that will appear.
          This is some very long text paragraph thing!
        </div>
        <div class="chat-message-media">
          <img src="http://www.sharegif.com/wp-content/uploads/2014/04/idgaffunny-gifreaction-gifbarack-obama.gif" alt="" />
        </div>
      </div>
    </div>

    <div class="chat-message">
      <div class="chat-message-avatar">
        <img src="" alt="" />
      </div>
      <div class="chat-message-content">
        <div class="chat-message-info">
          <div class="username">Username</div>
          <div class="timestamp">4:14</div>
        </div>
        <div class="chat-message-text">
          This is some message that will appear.
          This is some very long text paragraph thing!
        </div>
        <div class="chat-message-media">
          <img src="http://ak-hdl.buzzfed.com/static/2014-02/enhanced/webdr05/24/17/anigif_enhanced-buzz-7762-1393280507-10.gif" alt="" />
        </div>
      </div>
    </div>

    <div class="chat-message">
      <div class="chat-message-avatar">
        <img src="" alt="" />
      </div>
      <div class="chat-message-content">
        <div class="chat-message-info">
          <div class="username">Username</div>
          <div class="timestamp">4:14</div>
        </div>
        <div class="chat-message-text">
          This is some message that will appear.
          This is some very long text paragraph thing!
        </div>
        <div class="chat-message-media">
          {{!-- <img src="http://ak-hdl.buzzfed.com/static/2014-02/enhanced/webdr05/24/17/anigif_enhanced-buzz-7762-1393280507-10.gif" alt="" /> --}}
        </div>
      </div>
    </div>




  </div>
  <div class="create-GIFt">
    <div class="select-gif">

    </div>
    <div class="type-message">
      <div class="type-message-logo">
        <span class="icon-pencil2"></span>
      </div>
      <div class="type-message-text">
        {{input placeholder="Type message here..."}}
      </div>
      <button class="type-message-submit" type="button" name="button">Send</button>
    </div>
  </div>
</main>


{{outlet}}
