<div class="alt_background_wrapper">
  <form class="account_box">

    <h1 class="form_header">Sign Up</h1>

    <div class="input_section">
      <label class="input_label" for="">Username</label>
      {{input class="input_field" placeholder="NedStark"}}
    </div>

    <div class="input_section">
      <label class="input_label" for="">Password</label>
      {{input class="input_field" placeholder="winter_is_coming!1" type="password"}}
    </div>

    <div class="input_section">
      <label class="input_label" for="">Email</label>
      {{input class="input_field" placeholder="eddard.stark@winterfell.com" type="email"}}
    </div>

    <div class="input_section">
      <button class="submit_account" type="button">Sign Up</button>
    </div>

  </form>
</div>
